<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Parallo - About Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="Content/css/all.min.css" />
    <link rel="stylesheet" href="Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/css/templatemo-style.css" />
    <style>
        .tm-brand-name {
    font-size: 2.3rem;
    color: #333333;
}
        .tm-brand-name {
    font-size: 2.3rem;
    color: #333333;
}
        .parallax-window {
            background-image: url('../../Content/img/coffee-glass.jpg')
        }

        .fa-pen:before {
            width: 79px;
            height: 77px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #333436;
            color: white;
            border-radius: 50%;
            margin-right: 25px;
        }
    </style>
</head>
<body id="aboutPage">
    <div class="parallax-window" data-parallax="scroll">
        <div class="container-fluid">
            <section class="row" id="tmAbout">
                <header class="col-12 tm-about-header">
                    <h2 class="text-uppercase text-center text-dark tm-about-page-title">O aplikaciji</h2>
                    <hr class="tm-about-title-hr">
                </header>
                <div class="col-lg-4">
                    <div class="tm-bg-black-transparent tm-about-box">
                        <div class="tm-about-number-container">0.1</div>
                        <h3 class="tm-about-name">Dodavanje proizvoda</h3>
                        
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="tm-bg-black-transparent tm-about-box">
                        <div class="tm-about-number-container">0.2</div>
                        <h3 class="tm-about-name">Izmena proizcoda</h3>
                        
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="tm-bg-black-transparent tm-about-box">
                        <div class="tm-about-number-container">0.3</div>
                        <h3 class="tm-about-name">Brisanje proizvoda</h3>
                       
                    </div>
                </div>
            </section>

            <!-- App Features -->
            <section id="tmAppFeatures">
                <div class="row">
                    <header class="col-12 text-center text-white tm-bg-black-transparent p-5 tm-app-header">
                        <h2 class="text-uppercase mb-3 tm-app-feature-header">Dodatak</h2>
                        <p class="mb-0 small">Moguće je dodati proizvode u bazu i pomoću JSON file-a</p>
                    </header>
                </div>

                

            </section>

            <!-- Page footer -->
            <footer class="row">
                <p class="col-12 text-white text-center tm-copyright-text">
                    Milica Dodevski
                </p>
            </footer>
        </div>
        <!-- .container-fluid -->
    </div>

    <script src="Content/js/jquery.min.js"></script>
    <script src="Content/js/parallax.min.js"></script>
    <script src="Content/js/bootstrap.min.js"></script>
</body>
</html>
