<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Parallo - App Landing Page</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="Content/css/all.min.css" />
    <link rel="stylesheet" href="Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/css/templatemo-style.css" />
   
</head>
<body>
    <div class="parallax-window" data-parallax="scroll" data-image-src="Content/img/bg-01.jpg">
        <div class="container-fluid">
            

            <section class="row" id="tmHome">
                <div class="col-12 tm-home-container">
                    <div class="text-white tm-home-left">
                        <p class="text-uppercase tm-slogan">WELCOME</p>
                        <hr class="tm-home-hr" />
                        <h2 class="tm-home-title">APP</h2>
                        <p class="tm-home-text">
                            Parallo je aplikacija koju nudi jednostavan pregled proizvoda. A šta još možete da uradite sa njima saznaćete kada kliknete dugme ispod.
                        </p>
                        <a href="#tmFeatures" class="btn btn-primary">Vidi više</a>
                    </div>
                    <div class="tm-home-right">
                        <img src="Content/img/mobile-screen.png" alt="App on Mobile mockup" />
                    </div>
                </div>
            </section>

            <!-- Features -->
            <div class="row" id="tmFeatures">
                <div class="col-lg-4">
                    <div class="tm-bg-white-transparent tm-feature-box">
                        <h3 class="tm-feature-name">Dodaj novi proizvod</h3>

                        <div class="tm-feature-icon-container">
                            <i class='fas fa-plus' style='font-size:36px'></i>
                        </div>

                       
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="tm-bg-white-transparent tm-feature-box">
                        <h3 class="tm-feature-name">Izmeni proizvod</h3>

                        <div class="tm-feature-icon-container">
                            <i class='fas fa-sync' style='font-size:36px'></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="tm-bg-white-transparent tm-feature-box">
                        <h3 class="tm-feature-name">Izbriši proizvod</h3>

                        <div class="tm-feature-icon-container">
                            <i class="fa fa-trash fa-server" style='font-size:36px'></i>
                        </div>
                    </div>
                </div>
            </div>
            
            

            
            <footer class="row">
                <p class="col-12 text-white text-center tm-copyright-text">
                    Milica Dodevski
                </p>
            </footer>
        </div>
        <!-- .container-fluid -->
    </div>

    <script src="Content/js/jquery.min.js"></script>
    <script src="Content/js/parallax.min.js"></script>
    <script src="Content/js/bootstrap.min.js"></script>
</body>
</html>